<div class="text-bg-success m-5 p-5 rounded-5">
  <div class="text-center mb-3">
    <p>Selecione a quantidade de números que você deseja apostar:</p>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="check1" (change)="bets = 6" checked value="option1">
      <label class="form-check-label" for="check1">6</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="check2" (change)="bets = 7" value="option2">
      <label class="form-check-label" for="check2">7</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="check3" (change)="bets = 8" value="option3">
      <label class="form-check-label" for="check3">8</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="check4" (change)="bets = 9" value="option4">
      <label class="form-check-label" for="check4">9</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="check5" (change)="bets = 10" value="option5">
      <label class="form-check-label" for="check5">10</label>
    </div>
  </div>

  <div class="form-floating text-bg-light rounded-5 mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="numbers" name="numbers">
    <label for="floatingInput">Insira os números que deseja apostar</label>
  </div>

  <button type="button" class="btn btn-primary" (click)="verifyBet()">sortear</button>
  <p>{{message}}</p>
  <p>{{drawNum[0]}} {{drawNum[1]}} {{drawNum[2]}} {{drawNum[3]}} {{drawNum[4]}} {{drawNum[5]}}</p>
</div>
